<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A admin dashboard application demo built upon Ant Design and Dva.js">
  <title>antd admin</title>
  <!--[if lte IE 10]>
      <script
        src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
</head>
<script th:inline="javascript">
  /*<![CDATA[*/
  window.${appName?uncap_first}_url = /*[[${'${'}${appName?uncap_first}_url}]]*/"/${appName?uncap_first}";
  /*]]>*/
</script>
<script>
  if (window.routerBase && window.routerBase !== '') {
    var _idxOf_rb = location.pathname.indexOf(window.routerBase);
    if (_idxOf_rb > -1) {
      window.routerBase = location.pathname.substr(0, _idxOf_rb) + window.routerBase;
      if (window.publicPath && window.publicPath !=='' && window.publicPath !=='/' ) {
        window.publicPath = window.routerBase + window.publicPath;
      }

      if (window.routerBase.slice(-1) !== '/') {
        window.routerBase += '/'
      }

      if (window.publicPath.slice(-1) !== '/') {
        window.publicPath += '/'
      }
    }
  }
  console.log('window.routerBase:',window.routerBase);
  console.log('window.publicPath:',window.publicPath);
</script>

<body>
  <div id="root"></div>
</body>
</html>
