[submodule "7-trade-web-cms/cms-frontend"]
	path = 7-trade-web-cms/cms-frontend
url=https://github.com/stategen/stategen-demo-trade-cms-frontend
[submodule "7-trade-web-app/app-frontend"]
	path = 7-trade-web-app/app-frontend
	url = ./7-trade-web-app/app-frontend/.git
