<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="WebApp_ID" version="3.0" metadata-complete="false"
>
    <display-name>tradeApp</display-name>
    <!-- 配置改从 6- config/CodeConfigAsWebXml.java 中 读取 ，兼容 spring/springboot 与 servlet3.1-->


</web-app>