{
/*  "presets": [
    "umi/babel"
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "@i": "./src/intergrate",

          "themes": "./src/themes",
          "@components": "./src/components",
          "@utils": "./src/utils",
          "@pages": "./src/pages",

          "config": "./src/utils/config",
          "services": "./src/services",
          "routes": "./src/routes"
        }
      }
    ]
  ]*/
}
